<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DAMS Test Suite" parallel="false">
    <listeners>
        <listener class-name="com.dams.report.SuiteListener"/>
    </listeners>
    <test name="DAMS Regression">
        <classes>
             <class name="com.dams.tests.login.LoginTest"/> 
             <!-- <class name="com.dams.tests.PaymentEmi.PaymentEmiTest"/>  -->
            <!-- <class name="com.dams.tests.GenerateQrCode.GenerateQrCodeTest"/>  -->
             <!-- <class name="com.dams.tests.CeoReport.CeoReportTest"/>  -->
             <!-- <class name="com.dams.tests.Reward.RewardTest"/>  -->
            <!-- <class name="com.dams.tests.PrintQbank.PrintQbankTest"/>  -->
             <class name="com.dams.tests.Jobs.JobsTest"/>  
          </classes> 
            
    </test>
</suite>
